:root {
  font-weight: 200;

  color-scheme: light dark;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}